<!-- start footer -->
<div id="footer">
  <div class="container">
  <div class="row">
  <div class="col-md-3 col-sm-6">
  <!--pages -->
  <h4>Pages</h4>
  <ul>
    <li><a href="#">About us</a></li>
    <li><a href="#">Terms and conditions</a></li>
    <li><a href="#">FAQ</a></li>
    <li><a href="contact.html">Contact us</a></li>
  </ul>
  <hr>
  <!-- user section -->
    <h4>User section</h4>
    <ul>
    <li><a href="#">Login</a></li>
    <li><a href="./login/login.html">Register</a></li>
  </ul>
<!--hide content from medium not small-->
  <hr class="hidden-md hidden-lg hidden-sm">
  </div>
<!-- col-md-3 -->
<div class="col-md-3 col-sm-6">
<!--genre section -->
  <h4>Genre</h4>
  <ul>
  <li><a href="#">Action</a></li>
  <li><a href="#">Adventure</a></li>
  <li><a href="#">Comedy</a></li>
  </ul>
  <!-- section categories -->
  <h4>Categories</h4>
  <ul>
  <li><a href="#">Crime</a></li>
  <li><a href="#">Drama</a></li>
  <li><a href="#">Fantasy</a></li>
  <li><a href="#">Comedy</a></li>
  </ul>
  <hr class="hidden-md hidden-lg">
</div>
  <!-- col-md-3 -->
<div class="col-md-3 col-sm-6">
<!-- address section -->
  <h4> Find Us</h4>
    <p class ="text"><strong>kls Ltd.</strong>
    <br>G 7A
    <br>Noida sec 63
    <br>Uttar pradesh
    <br>201301
    <br>
    </p>
    <hr class="hidden-md hidden-lg">
  </div>
  <!--col-md-3 -->
<div class="col-md-3 col-sm-6">
  <h4>Get The News</h4>
  <p class="text-muted">A great site to see your favourite movies.</p>
  <form>
<div class="input-group">
  <input type="text" class="form-control">
  <span class="input-group-btn">
  <button class="btn btn-success" type="button">SUBMIT</button>
  </span>
  </div>
<!-- input-group close-->
  </form>
  <hr>
  <!-- social icons_-->
  <h4>Stay in Touch</h4>
    <i class="fa fa-facebook fa-3x"></i>
    <i class="fa fa-twitter fa-3x"></i>
    <i class="fa fa-youtube fa-3x"></i>
    <i class="fa fa-instagram fa-3x"></i>
  </div>
<!-- col-md-3 -->
</div>
<!--row ends here-->
</div>
<!-- container Ends here -->
</div>
<!-- FOOTER END -->

